{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Food Truck Reviews | {{ title }}</title>
    {% else %}
    <title>Food Truck Reviews</title>
    {% endif %}
    <!--Website Icon-->
    <link rel="icon" href="{% static 'images/foodtruck.ico' %}" />

    {% include "truckReviews/include/imports.html" %}
</head>
<body>
    {% include "truckReviews/include/navbar.html" %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} container mt-1">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <main class='container'>
        {% block content %}{% endblock %}
    </main>
    {% include "truckReviews/include/footer.html" %}
</body>
</html>