{% extends "truckReviews/base.html" %}
{% block content %}
    {% include "truckReviews/include/landing_filter_nav.html" %}
    <div class="d-flex flex-row flex-wrap justify-content-around">
        {% for truck in filter.qs %}
            <div class="card mb-2 mt-2" style="width: 20rem;">
                <img src="{{ truck.cover_photo_url }}" alt="{{ truck.cover_photo_alt_text }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> {{ truck.name }}</h5>
                    <h6 class="card-text text-muted">{{ truck.category }}</h6>
                    <p class="card-text" style="font-size: 0.8rem;"> {{ truck.bio }}</p>
                    <a href="{% url 'truck-review' truck.truck %}" class="btn btn-outline-info">View Truck</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "truckReviews/include/pagination.html" %}
{% endblock content %}