{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--Nav Brand-->
    <a class="navbar-brand" href="{% url 'reviews-home' %}">
        <img src="{% static 'images/foodtruck.svg' %}" alt="Logo" width="35" height="30" class="d-inline-block align-top mr-1" alt="Logo" loading="lazy">
        Food Truck Reviews
    </a>

    <!--Toggler-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Collapseable Items-->
    <div class="collapse navbar-collapse" id="navbarItems">
        <!--Left-->
        <ul class="navbar-nav mr-auto">
            <li class='nav-item'>
                <a href="{% url 'reviews-about' %}" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user-contact' %}" class="nav-link">Contact Us</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'user-reviews' user.username %}" class="nav-link">My Reviews</a>
                </li>
            {% endif %}
            {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin-reviews' %}" class="nav-link">Analytics</a>
                </li>
            {% endif %}
        </ul>

        <!--Right-->
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'user-account' %}" class="nav-link">Account</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user-logout' %}" class="nav-link">Logout</a>
                </li>
            {% else %}
                <li class='nav-item'>
                    <a href="{% url 'user-login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user-register' %}" class="nav-link">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>