<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "truckReviews/include/imports.html" %}
</head>
<body>
    {% load i18n %}{% autoescape off %}
    You're receiving this email because the account '{{ user.get_username }}' has requested a password reset on {{ site_name }}.
    <br /><br />
    {% trans "Please go to the following page and create a new password:" %}
    <div class="alert alert-info">
        {% block reset_link %}
            <span class="alert-link">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</span>
        {% endblock %}
    </div>
    If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
    <br /><br />
    Thanks for using our website!
    <br />
    From {{ site_name }}
    {% endautoescape %}
</body>
</html>
