{% extends "truckReviews/base.html" %}
{% block content %}
    <div class="border rounded p-2 mt-1">
        <h5 class="alert alert-info">Password Reset Sent</h5>
        <p>
            We've emailed you instructions for resetting your password. If an account exists with the email you've entered, you should recieve them shortly.
            <br /> <br />
            If you don't recieve an email, please make sure you've entered the address you registered with, and check your spam folder.
        </p>
    </div>
{% endblock content %}