{% extends "truckReviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section border rounded mt-1">
      <div class="media p-2">
        <div class="media-body text-center">
          <h2 class="display-4">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    <form method="POST" class="p-2" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-2">Update Profile Information</legend>
          {{ form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-outline-success" type="Submit">Update Information</button>
      </div>
    </form>
  </div>
{% endblock content %}